body {
  margin: 0;
  padding: 0;
}

.container {
  padding: 30px;
}

.square {
  width: 150px;
  height: 150px;
  background-color: cyan;
}

.rectangle {
  width: 300px;
  height: 150px;
  background-color: lavender;
}

.rectangle-bordered {
  width: 300px;
  height: 150px;
  background-color: lavender;
  border-radius: 20px;
  border: 3px solid grey;
}

.circle {
  width: 150px;
  height: 150px;
  background-color: aquamarine;
  border-radius: 50%;
}

.circle-bordered {
  width: 150px;
  height: 150px;
  background-color: aquamarine;
  border-radius: 50%;
  border-width: 5px;
  border-style: dotted;
  border-color: grey;
}

.box-with-shadow {
  width: 150px;
  height: 150px;
  background-color: lime;
  box-shadow: 10px 10px 3px 3px #999999;
}

.card {
  width: 300px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid #eee;
  box-shadow: 1px 10px 29px 2px rgba(0,0,0,0.19);
  padding: 30px;
}

.box {
  font-size: 0;
}

.box div {
  height: 50px;
}

.half {
  display: inline-block;
  width: 50%;
}

.slice-10 {
  display: inline-block;
  width: 10%;
}

.slice-30 {
  display: inline-block;
  width: 30%;
}

.slice-60 {
  display: inline-block;
  width: 60%;
}
.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.spacer {
  height: 30px;
}
